extends layout

block content
  div.container
      h1= title
      p Welcome to #{title}
      div.row
          each val in aSubmission
            div.col-sm-6
              -var embedable = val.youtubeVideo.replace('watch?v=', 'embed/')
              iframe(src=embedable, frameborder="0", allowfullscreen='')
              ul
                li Creator: <strong>#{val.subName}</strong>
                li Title: <em>#{val.title}</em>
                li Description: #{val.describe}
                li 
                  a(href="/vote/#{val.subName}") Click to Vote

  //- script(type="text/javascript").
  //-   var subArray = !{JSON.stringify(aSubmission)}